.default-font-color {
  color: rgb(var(--first-color));
}

.second-font-color {
  color: rgb(var(--second-color));
}

.link-font-color {
  color: rgb(var(--link-font-color))
}

.filter-blur-10 {
  filter: blur(5px);
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.position{
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
  &-bottom {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
}

.align{
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
}

.font-first-color{
  color: rgb(var(--first-color));
}
.font-second-color{
  color: rgb(var(--second-color));
}
.font-third-color{
  color: rgb(var(--third-color));
}

.display {
  &-flex {
    display: flex;
  }
  &-none {
    display: none;
  }
  &-inline-block {
    display: inline-block;
  }
}

.align-items{
  &-center {
    align-items: center;
  }
  &-bottom {
    align-items: flex-end;
  }
}

.full {
  &-height {
    height: 100%;
    &-important {
      height: 100% !important;
    }
  }

  &-width {
    width: 100%;
    &-important {
      width: 100% !important;
    }
  }
}

.border-bottom-1 {
  border-bottom: solid 1px rgb(var(--border-color));
}

.margin-auto {
  margin: auto;
}

@for $i from 0 through 30 {
  .left-#{$i} {
    left: #{$i}px
  }
  .top-#{$i} {
    top: #{$i}px
  }
  .bottom-#{$i} {
    bottom: #{$i}px
  }
  .right-#{$i} {
    right: #{$i}px
  }
}

@for $i from 12 through 42 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 1 through 10 {
  .font-weight-#{$i * 100} {
    font-weight: #{$i * 100};
  }
}

@for $i from 30 through 300 {
  .width-#{$i} {
    width: #{$i}px;
  }
  .height-#{$i} {
    height: #{$i}px;
  }
}

@for $i from 10 through 30 {
  .padding-#{$i} {
    padding: #{$i}px;
  }

  .padding-top-#{$i} {
    padding-top: #{$i}px;
  }

  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px;
  }

  .padding-left-#{$i} {
    padding-left: #{$i}px;
  }

  .padding-right-#{$i} {
    padding-right: #{$i}px;
  }
}

@for $i from 0 through 80 {
  .margin-right-#{$i} {
    margin-right: #{$i}px;
  }

  .margin-left-#{$i} {
    margin-left: #{$i}px;
  }

  .margin-top-#{$i} {
    margin-top: #{$i}px;
  }

  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px;
  }

  .margin-right-#{$i}-important {
    margin-right: #{$i}px !important;
  }

  .margin-left-#{$i}-important {
    margin-left: #{$i}px !important;
  }

  .margin-bottom-#{$i}-important {
    margin-bottom: #{$i}px !important;
  }
}