$phone-media-screen: 480px;

/* --shadow-1: rgba(0, 0, 0, 0.1);
--shadow-2: rgba(0, 0, 0, 0.2);
--shadow-5: rgba(0, 0, 0, 0.5);
--shadow-8: rgba(0, 0, 0, 0.8); */
:root {
  --loading-color: 0, 0, 0;

  --bg-color: 248,248,248;

  --container-color: 255, 255, 255;
  --container-box_shadow-clor: rgba(0, 0, 0, 0.1);

  --first-color: 40, 40, 40;
  --second-color: 150, 150, 150;
  --third-color: 204, 204, 204;

  --first-font-size: 15px;
  --second-font-size: 12px;

  // --navbar-display: none;

  // --sidebar-expansion_width: 210px;
  // --sidebar-fold_width: 80px;

  --content_width: 480px;
  --content-additional_width: 400px;
  --content-right-spacing_width: 60px;

  --additional-bg-clor: 255, 255, 255;

  --border-color: 219, 219, 219;

  --link-font-color: 0, 55, 107;
  
  --article-size: 15px;
  --article-bg-color: 255, 255, 255;
  --article-media-height: 500px;
  --article-box_shadow-clor: rgba(0, 0, 0, 0.1);
  --article-type-media-size: 480px;

  --content-container-padding: 10px;
  --content-border: solid 1px rgb(var(--border-color));
  --content-transform: none;
  --content-additional_display: none;

  --details-width: 80%;
  --details-max-width: 1100px;
  --details-height: 80%;
  --details-max-height: 620px;
  --details-bg: 255, 255, 255;
  --details-media-bg: 0, 0, 0;

  --dialog-box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.1);

  --release-dialog-width: 650px;
  --release-dialog-height: 500px;
  --release-dialog-details-height: 450px;

  --edit-user_info-dialog-width: 600px;
  --edit-user_info-dialog-height: 600px;
}

@media screen and (min-width: 1120px) {
  :root {
    --content-transform: translateX(-50%);
    --content-additional_display: block;
  }
}

@media screen and (min-width: $phone-media-screen) and (max-width: 1120px) {
  :root {
    --content-right-spacing_width: 0px;
  }
}

@media screen and (max-width: $phone-media-screen) {
  :root {
    // --navbar-display: flex;
    // --content-container-padding: 10px;
    --content_width: 100%;
    --release-dialog-details-height: 90%;
  }
}